@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carrois+Gothic+SC&family=MonteCarlo&display=swap');

/*=============
 Default Styles
 =============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*============= 
     Body  
 =============*/

body {
    background: url(images/bg.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--text);
}

/*=============
 Root Variables 
 =============*/

:root{
    --prim-color: #fba708;
    --sec-color: #f9c564;
    --black-color: #232323;
    --gray-color: #737373; 
    --white-color: #fffcef;
    --main-h: "Archivo Black", serif;
    --second-h: "MonteCarlo", serif;
    --text: "Carrois Gothic SC", serif;
}

/*============= 
     Header  
 =============*/

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.4s ease-in-out;
 }

.logo img{
    width: 120px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav ul li{
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    position: relative;
}

nav ul li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: var(--prim-color);
    transition: 0.3s ease-in-out;
}

nav ul li a:hover::before{
    width: 100%;
    left: 0;
}

nav ul li a:hover{
    color: var(--prim-color);
    transform: scale(1.1);
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-menu i,
.right-menu a{
    color: var(--white-color);
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.dropbtn{
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.dropbtn:hover{
    color: var(--prim-color);
    transform: scale(1.1);
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    min-height: 140px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a{
    color: var(--black-color);
    padding: 12px 25px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
}

.dropdown-content a:hover{
    background: var(--prim-color);
    color: var(--white-color);
}

.dropdown:hover .dropdown-content{
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
}

.hero-content{
    max-width: 800px;
}

h1{
    font-size: 5rem;
    font-family: var(--main-h);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: var(--prim-color);
}

p{
    font-size: 1.5rem;
    margin: 10px 0;
}

.hero-content .button{
    padding: 15px 30px;
    font-size: 1rem;
    background: linear-gradient(90deg, var(--prim-color), var(--sec-color));
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}

.hero-content .button:hover{
    background: linear-gradient(90deg, var(--sec-color), var(--prim-color));
}

.search-container{
    display: flex;
    align-items: center;
    background: var(--white-color);
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
}

.search-item{
    flex: 1;
    min-width: 80px;
    max-width: 200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-right: 1px solid var(--gray-color);
}

.search-item:last-child{
    border-right: none;
}

.search-item i{
    color: var(--prim-color);
    font-size: 20px;
    margin-right: 8px;
}

.search-item input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    min-width: 50px;
}

.search-item span{
    margin: 0 10px;
    color: var(--prim-color);
}

.search-btn{
    background: var(--prim-color);
    color: var(--white-color);
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
}

.search-btn:hover{
    background: var(--sec-color);
}

 
 /*============= 
     Logos 
 =============*/

.logo-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 10px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.logo-button{
    background-color: var(--prim-color);
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    z-index: 2;
}

.logo-slider{
    display: flex;
    white-space: nowrap;
    animation: slide 20s linear infinite;
    position: absolute;
    left: 150px;
    width: calc(100% - 150px);
}

.logo-slider img{
    height: 80px;
    margin: 0 15px;
}

@keyframes slide{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-50%);
    }
}

.logo-slider:hover{
    animation-play-state: paused;
}